<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>upload</servlet-name>
        <jsp-file>/upload.jsp</jsp-file>
        <init-param>
            <param-name>hello</param-name>
            <param-value>test</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>storage</servlet-name>
        <jsp-file>/storage.jsp</jsp-file>
        <init-param>
            <param-name>hello</param-name>
            <param-value>test</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>storage</servlet-name>
        <url-pattern>/storage</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
        <init-param>
            <param-name>hello</param-name>
            <param-value>test</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>cases</servlet-name>
        <jsp-file>/cases.jsp</jsp-file>
        <init-param>
            <param-name>hello</param-name>
            <param-value>test</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>cases</servlet-name>
        <url-pattern>/Cases</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>litigation</servlet-name>
        <jsp-file>/litigation.jsp</jsp-file>
        <init-param>
            <param-name>hello</param-name>
            <param-value>test</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>litigation</servlet-name>
        <url-pattern>/Litigation</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>cv</servlet-name>
        <jsp-file>/cv.jsp</jsp-file>
        <init-param>
            <param-name>hello</param-name>
            <param-value>test</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>cv</servlet-name>
        <url-pattern>/CV</url-pattern>
    </servlet-mapping>
</web-app>
